<section class="flex">
    <section class="grid grid-col-4 basis-5/12 shadow-md gap-4 shadow-indigo-600 py-10 px-2 m-4">
        <section class="col-start-2 col-end-3">
            <img class="w-40"  src="{{student?.isMale?'maleAvatar.png':'femaleAvatar.png'}}"/> 
            <section class="text-sm">
                <p class="text-xl text-indigo-600 font-semibold">Personal data:</p>
                <p>Full name: <span class="font-semibold">{{student?.fullname}}</span></p>
                <p>Email: <span class="font-semibold">{{student?.email}}</span></p>
                <p>Username: <span class="font-semibold">{{student?.userName}}</span></p>
                <p>Year at university: <span class="font-semibold">{{student?.yearAtUiversity}}</span></p>
                <p>Gender: <span class="font-semibold">{{student?.isMale? 'Male':'Female'}}</span></p>
            </section>  
        </section>
        <section class="text-sm col-start-2 col-end-3">
            <p class="text-xl text-indigo-600 font-semibold">Answersheet answers:</p>
             @if(student?.generalAnswers?.isFilledOut){
                 <section>
                    <p>Introverted: <span class="font-semibold">{{student?.generalAnswers?.isIntrovert}}</span></p>
                    <p>Likes quietness: <span class="font-semibold">{{student?.generalAnswers?.likesQuietness}}</span></p>
                    <p>Is messy: <span class="font-semibold">{{student?.generalAnswers?.isMessy}}</span></p>
                    <p>Wakes up early: <span class="font-semibold">{{student?.generalAnswers?.wakesUpEarly}}</span></p>
                    <p>Goes to sleep early: <span class="font-semibold">{{student?.generalAnswers?.goesToSleepEarly}}</span></p>
                </section>  
             }
             @else{
                <section class="flex flex-col gap-1">
                    <p>(No answers available)</p>
                    <a 
                       routerLink="/answer-sheet"
                       class="rounded-md self-start bg-indigo-600 px-3 py-1.5 font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                       Fill answersheet
                    </a>
                </section>
             }
        </section>
    </section>

    <section class="grid grid-col-4 grid-rows-none basis-3/12 text-sm gap-3 shadow-md shadow-indigo-600 py-10 px-2 m-4">
        <section class="col-start-2 col-end-3">
            <p class="text-xl text-indigo-600 font-semibold">Room details:</p>
            <section>
                @if(student?.room?.id==null){
                    <p>(No room yet...)</p>
                }
                @else{
                    <p>Room number: 
                        <span class="font-semibold">
                           {{student?.room.roomNumber}}
                        </span>
                    </p>
                    <p>Room type: 
                        <span class="font-semibold">
                           {{roomTypes[student?.room.roomType]}}
                       </span>
                    </p>
                    <p>Remaining capacity: 
                        <span class="font-semibold">
                        {{student?.room.remainingCapacity}} 
                        {{student?.room.remainingCapacity==1?'person':'people'}}
                       </span>
                    </p>
                }
            </section>
        </section>
        <section class="col-start-2 col-end-3">
            <article class="my-2">
                <p class="text-xl text-indigo-600 font-semibold">Roomates:</p>
               @if(student?.roomates?.length==0){
                 <p>(No roomates yet...)</p>
                 <a 
                  *ngIf="isAdmin"
                   [routerLink]="['/find-matches']"
                   [queryParams]="{userId:student?.id,pageNumber:1}"
                   class="rounded-md bg-indigo-600 px-3 py-1.5 font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                   Find roomates
                 </a>
                }
                @else{
                   <ul class="list-disc">
                     @for(roomate of student?.roomates;track roomate.id){
                       <app-roomate-card [roomate]="roomate" [isAdmin]="isAdmin"/>
                     }
                   </ul>
                }
            </article>
        </section>
    </section>
    <section class="basis-3/12 shadow-md shadow-indigo-600 py-10 px-2 m-4 flex flex-col items-center">
        <p class="text-xl text-indigo-600 font-semibold">Current requests:</p>
        @if(student?.requests?.length==0){
          <p>(No requests yet...)</p>
        }
        @else{
            <ul class="list-disc">
                @for(request of student?.requests;track request.id){
                     <app-request-profile-card [request]="request"/> 
                }
            </ul>
        }
        <a 
           *ngIf="!isAdmin"
            routerLink="/request-submit"
            class="rounded-md bg-indigo-600 px-3 py-1.5 mt-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Submit request
         </a>
     </section>
</section>
