<div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Roomate matching questionaire</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form  class="space-y-6" >

        <section class="flex gap-4 items-center border-b-indigo-600 border-b-2 pb-2">
                <div class="flex gap-2 basis-6/12 items-center">
                    <label for="sleep-early-yes" class="block text-sm font-medium text-gray-900">I like to go bed early</label>
                    <input  id="sleep-early-yes"  name="sleep-early" type="radio"  >
                </div>
                <div class="flex gap-2 basis-6/12 items-center">
                    <label for="sleep-early-no" class="block  text-sm font-medium text-gray-900">I am a huge night owl</label>
                    <input  id="sleep-early-no"  name="sleep-early" type="radio"  >
                </div>
        </section>

        <section class="flex gap-4 items-center border-b-indigo-600 border-b-2 pb-2">
            <div class="flex gap-2 basis-6/12 items-center">
                <label for="get-early-yes" class="block text-sm font-medium text-gray-900">My day starts at sunrise</label>
                <input  id="get-early-yes"  name="get-early" type="radio"  >
            </div>
            <div class="flex gap-2 basis-6/12 items-center">
                <label for="get-early-no" class="block  text-sm font-medium text-gray-900">I usually start my day late</label>
                <input  id="get-early-no"  name="get-early" type="radio"  >
            </div>
    </section>

    <section class="flex gap-4 items-center border-b-indigo-600 border-b-2 pb-2">
        <div class="flex gap-2 basis-6/12 items-center">
            <label for="tidy-yes" class="block text-sm font-medium text-gray-900">I am a very messy person</label>
            <input  id="tidy-yes"  name="tidy" type="radio"  >
        </div>
        <div class="flex gap-2 basis-6/12 items-center">
            <label for="tidy-no" class="block  text-sm font-medium text-gray-900">My room has awlays been tidy</label>
            <input  id="tidy-no"  name="tidy" type="radio"  >
        </div>
</section>

<section class="flex gap-4 items-center border-b-indigo-600 border-b-2 pb-2">
    <div class="flex gap-2 basis-6/12 items-center">
        <label for="introverted-yes" class="block text-sm font-medium text-gray-900">I am very introverted</label>
        <input  id="introverted-yes"  name="introverted" type="radio"  >
    </div>
    <div class="flex gap-2 basis-6/12 items-center">
        <label for="introverted-no" class="block  text-sm font-medium text-gray-900">I am a social butterfly</label>
        <input  id="introverted-no"  name="introverted" type="radio"  >
    </div>
</section>
               
        <div>
          <button  type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
        </div>
      </form>
  
    </div>
  </div>

