<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    @if(!canRequest){
       <p class="text-indigo-600 text-2xl text-center">You cannot submit any more requests for this academic year</p>
    }
    @else{
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Submit request</h2>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" (submit)="onSubmit($event)" [formGroup]="requestForm">
              <div>
                <label for="requestType" class="block text-sm font-medium leading-6 text-gray-900">Request Type</label>
                <select id="requestType" formControlName="requestType" class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                 @for(request of possibleRequestTypes;track request){
                    <option [value]="request">{{requestTypes[request]}}</option>
                 }
                </select>
                <div class="text-red-600" *ngIf="c.requestType.invalid && (c.requestType.dirty || c.requestType.touched)">
                    <p *ngIf="c.requestType.hasError('required')">Please, pick an option</p>
               </div>    
              </div>
             <div>
                 <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">Comment</label>
                 <div class="mt-2">
                   <textarea formControlName="comment" id="comment" name="comment" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                 </div>
                 <div class="text-red-600" *ngIf="c.comment.invalid && (c.comment.dirty || c.comment.touched)">
                      <p *ngIf="c.comment.hasError('required')">This field is required</p>
                      <p *ngIf="c.comment.hasError('email')">Please, enter the email of the student with whom you want to be matched</p>
                 </div>
             </div>
      
      
            <div>
              <button 
              [disabled]="requestForm.invalid"
              type="submit" 
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
            </div>
          </form>
      
        </div>
    }
</div>
