<article class="flex flex-col gap-2 rounded-2xl shadow-2xl text-gray-900">
   <header class="p-4">
     <p>Full name: {{student.fullName}}</p>
     <p>Year at university: {{student.yearAtUniversity}}</p>
   </header>
   <main class="border-t-2 border-indigo-600 p-4">
    <p *ngFor="let answer of student?.answersAsUser | keyvalue">
        @if(answer.key.toString()!='isFilledOut'){ 
            {{messages[answer.key]}}: 
            <span class="text-indigo-600">
                {{answer.value? 'Same':'Different'}}
            </span>
        } 
    </p>        
   </main>
   <footer class="border-t-2 border-indigo-600 p-4 flex flex-col gap-2">
     @if(student.hasAssignedRoom){ 
       <p>Assigned dormitory name: {{student.assignedDormitoryName}}</p>
       <p>Assigned room number: {{student.assignedRoomNumber}}</p>
    }
    @if(matcherAssignedRoomId || student.hasAssignedRoom){
        <button
           (click)="matcherAssignedRoomId?
           addStudentToRoom(matcherAssignedRoomId,student.id)
           :
           addStudentToRoom(student.assignedRoomId?student.assignedRoomId:0,id?id:'')"
           class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
           Add student to room
       </button>
     }
     @else{
      <a 
        [routerLink]="['/match-in-a-room']"
        [queryParams]="{firstUser:student.id,secondUser:id,isMale:isMale}"
        class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
         Match in a room!
      </a>
     }
   </footer>
  
</article>
